{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{% static 'style/nav.css' %}">
    <link rel="stylesheet" href="{% static 'style/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'style/profilecards.css' %}">


</head>
<body>


<!--navbar-->
<header id="header">
		<div id="hamburger-nav-bar-line"></div>
			<div id="navigation">
				<div class="logo">
					<a href="#"><img id="header-img" src="{% static 'images/aclogo_black.png' %}" alt="club logo"/></a>
					<p style="font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-grey-text);margin-top:1rem;margin-bottom:1rem" id="logo-name">WCE Art Circle</p>
				</div>

				<nav id="nav-bar">
					<label for="hamburger-checkbox" id="ham-nav-icon" aria-hidden="true">&#9776;</label>
					<input type="checkbox" id="hamburger-checkbox" aria-hidden="true"/>
					<ul id="nav-bar-list" class="nobullets">
						<li>
                        <a class="link nav-link" href="#home"> Home </a></li>
                        <li>
                        <a class="link nav-link" href="#"> About us </a></li>
                        <li>
                        <a class="link nav-link" href="#"> Team </a></li>
                        <li>
                        <a class="link nav-link" href="#"> Events </a></li>
						<li>
						<a class="link nav-link" href="#"> Blogs </a></li>
						<li>
                        <a class="link nav-link" href="#"> Gallery </a></li>
					</ul>
				</nav>
			</div>
        </div>
</header>
<!--<main role="main">

     
<!--footer-->

{% block content%}
{% endblock %}

<!--js files-->
<!--
<script src="{% static '' %}"></script>
<script src=""></script>
-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>
